body{
  height: 10000px;
}
.relative{
  position: relative;
  top:10px;
  left: 10px;
}
.absolute{
  position: absolute;
  top:10%;
  left: 20%;
}
.fixed{
  position: fixed;
  top:0;
  left:0;
}
.landingPage {
  height: 100vh;
  background-color: chartreuse;
  position: relative;
  text-align: center;
}

.landingPage h1{
  color: white;
  position: absolute;
  top: 50%;
  margin: 0;
}
